   <% include partials/header %>
    <main class = "container">
        <div class="sub-container">
            <h1> You are invited to an event on <%=option%>! </h1>
            <p>Come to LOCATION </p>
            <form id= "form04" action="/events/<%=shortURL%>/main" method="POST">
              <h2><%=option%></h2>
              <button type="submit" name="rsvp" value="<%= option %>">Yes</button>
              <button type="submit" name="rsvp" value="no">No</button><h2><%=option%></h2>
              <button type="submit" name="rsvp" value="<%= option %>">Yes</button>
              <button type="submit" name="rsvp" value="no">No</button><h2><%=option%></h2>
              <button type="submit" name="rsvp" value="<%= option %>">Yes</button>
              <button type="submit" name="rsvp" value="no">No</button>
            </form>

            </div>
        </main>
    <% include partials/footer %>

