   <% include partials/header %>
    <main class = "container">
        <div class="sub-container">
            <h1> You are invited to an event on! </h1>
            <p>Come to LOCATION </p>
            <form id= "form04" action="/events/<%=shortURL%>/main" method="POST">
              <h2><%=option1%></h2>
              <button type="submit" name="rsvp" value="<%= option1 %>">Yes</button>

              <h2><%=option2%></h2>
              <button type="submit" name="rsvp" value="<%= option2 %>">Yes</button>


              <h2><%=option3%></h2>
              <button type="submit" name="rsvp" value="<%= option3 %>">Yes</button>
              <button type="submit" name="rsvp" value="Can't come">Can't come!</button>
            </form>

            </div>
        </main>
    <% include partials/footer %>

